:focus {
	outline: none;
}


button.MuiFab-root {
    outline: none;
}

.article-list-fab .MuiFab-root {
    width: 35px;
    height: 35px;
    box-shadow: none;
    background-color: white;
}

.search {
    padding: 0.3rem;
    display: flex;
}

.search .btn {
    height: 2.3rem;
    padding: 0.4rem;
}

.search-min {
    border: 0px;
    border-bottom: 1px solid grey;
    border-radius: 0px;
    background-color: transparent;
}

.search-min:focus {
    box-shadow: none;
}

.rstm-toggle-icon {
    display: inline-block;
}

.rstm-toggle-icon-symbol {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}

.rstm-tree-item-group {
    list-style-type: none;
    padding-left: 0;
    border-top: 1px solid #ccc;
    text-align: left;
    width: 100%;
}

.rstm-tree-item {
    padding: 0.75rem 1rem;
    cursor: pointer;
    color: #333;
    background: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    z-index: unset;
    position: relative;
}

.rstm-tree-item--active {
    color: white;
    background: #6c757d;
    border-bottom: none;
}

.rstm-tree-item--focused {
    z-index: 999;
}

.rstm-tree-item-group--focused {
	box-shadow: none;
}

.rstm-search {
	padding: 0.4rem 1rem;
    border: 1px solid #d9d9d9;
    width: 100%;
    margin-bottom: 20px;
    background-color: #ededed;
    border-radius: 4px;;
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 60px;
	color: white;

}

footer p {
	margin-bottom: 0;
}

.list-group-item {
    padding: 0.3rem 1.25rem;
}

.navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #383838;
    font-weight: 700;
	background-color: transparent;
	box-shadow: none;
}

a.nav-link {
	text-transform: uppercase;
}

.bg-light {
	background-color: #ededed;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mb-10 {
	margin-bottom: 10rem;
}

/* Sticky footer */

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  /* the bottom margin is the negative value of the footer's height */
}

footer,
.push {
  height: 60px;
  /* .push must be the same height as .footer */
}
