:root {
    --main-text-color: rgb(39, 65, 91);
    --light-bg-color: #07B8F4;
    --shadow-color: #2f2f2f;
}


@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Regular.woff') format('woff'); /* Modern Browsers */
}

* {
    font-family: 'Oswald', 'Roboto', 'Lato', 'Monserrat', 'Open Sans', sans-serif;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(/images/bg.jpg);
    background-size: cover;
}


/*###   HEADER STYLES   #############################*/
header {
    font-family: 'Oswald', 'Roboto', 'Lato', 'Monserrat', 'Open Sans', sans-serif;
    color: var(--main-text-color);
    height: 140px;
    margin-bottom: 20px;
}

img.logo {
    height: 140px;
    padding-left: 4%;
    filter: drop-shadow(0 0 3px black);
}

.overlay {
    position: absolute;
    top: 0;
    padding-top: 5px;
}

header h1 {
    padding-right: 40px;
}


/*###   BODY STYLES   ################################*/
/*---- NAVIGATION STYLES ----*/
.nav-menu {
	flex: 0 0 360px;
    text-align: right;
    font-size: 25px;
    padding: 0 18px 0 0;
    border-right: 5px solid rgb(7 184 244 / 46%);
}

nav a, nav p.link {
    color: var(--main-text-color);
    text-transform: uppercase;
}
nav p {
	min-height: 42px;
}

nav .active {
    border-bottom: 4px solid var(--main-text-color);
	display: inline;
    padding-bottom: 2px;
}


/*---- SECTION STYLES ----*/
.main {
    display: flex;
    padding: 0px 60px;
	min-height: 75%;
}
section {
    padding: 0 40px;
    flex: 1;
}

section.container {
    padding: 10px 20px;
    max-width: 900px;
}

section.container.right {
    border-right: 3px solid #9BD6EA;
}

section.container.right h3 {
    text-align: right;
    margin-right: 25px;
    color: var(--main-text-color);
    font-size: 30px;
}

section h3 {
    margin-left: 25px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-size: 30px;
}


/*---- CATEGORIES STYLES ----*/

.category {
    margin: 16px;
    background-color: var(--light-bg-color);
    border-radius: 5px;
    box-shadow: 0px 0 7px var(--shadow-color);
}

.label p {
    padding: 3px 5px;
    margin: 0;
    font-size: 14px;
    font-family: "Oswald", sans-serif;
    color: white;
	text-transform: uppercase;
}
.label span {
    margin: 0px 5px 3px 5px;
    padding: 2px 6px;
    background: rgb(255 255 255 / 88%);
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 4px rgb(21 21 60 / 76%);
}

.image img {
    height: 160px;
    width: 252px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgb(23 22 51 / 31%), 0px 6px 8px rgb(23 22 51 / 22%);
    border: 2px solid rgb(255 255 255 / 88%);
}
.content.categories {
	padding: 0 0px 0 40px;
}


/*---- ARTICLE STYLES ----*/
.content {
    min-height: 75%;
    max-width: 1200px;
}

.content .title-wrapper span {
    font-size: 1.7rem;
    border: 3px solid var(--main-text-color);
    border-radius: 5px;
    padding: 0px 15px;
    color: var(--main-text-color);
}
.content h2 {
	text-transform: uppercase;
	color: var(--main-text-color);
}

.content h4 {
	font-style: italic;
	color: var(--main-text-color);
}

.content.article p {
    font-family: 'Lato', 'Monserrat', 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--main-text-color);
}

/*---- ARTICLE GALLERY STYLES ----*/
.gallery {
	width: 1000px;
    margin: 0 auto;
}
.gallery-wrapper {
    overflow: hidden;
}

.gallery-nav {
    position: relative;
    top: 130px;
    left: -60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1120px;
}

.gallery-nav.disabled {
    display: none;
}

.carousel-arrow svg {
	-webkit-filter: drop-shadow(1px 1px 4px black);
	filter: drop-shadow(1px 1px 4px black);
}

.carousel-arrow svg {
    font-size: 3.7rem;
	color: rgb(7 184 244 / 70%);
}
.gallery .blueimp-gallery {
    background: rgb(25 26 35 / 79%);
}
.gallery img {
    height: 160px;
    margin: 10px 5px;
}

.blueimp-gallery > .slides > .slide > .slide-content.video-content {
    max-width: 1280px;
    max-height: 720px;
}
.react-blueimp-thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    position: relative;
    left: 0px;
    transition: left 0.3s ease;
}
.react-blueimp-thumbnails a img {
	box-shadow: 3px 5px 5px rgb(33 33 49 / 59%);
}
.gallery .blueimp-gallery > .prev, .gallery .blueimp-gallery > .next {
	position: absolute;
	    width: 60px;
	    height: 60px;
	    margin-top: -17px;
	    font-size: 100px;
	    font-weight: 100;
	    line-height: 45px;
	    text-shadow: 0 0 2px black;
	    background: rgb(255 255 255 / 60%);
	    border: 3px solid #fff;
	    border-radius: 35px;
	    opacity: 0.7;
}
.blueimp-gallery>a.close {
	padding: 40px;
	right: 30px;
	left: auto;
	margin: -25px;
	font-size: 70px;
    color: white !important;
}

/*###   FOOTER STYLES   #############################*/

.footer {
    position: absolute;
    bottom: -390px;
    width: 100%;
    /* line-height: 40px; */
	color: var(--main-text-color);
    height: 450px;
    transition: all 0.3s ease;
    z-index: 15;
}
.footer.closed {
    bottom: 0;
    /* transition: all 0.5s ease; */
}

.footer svg {
	margin-right: 10px;
}

.footer-panel {
	background-color: var(--main-text-color);
	flex: 1 0 auto;
	padding: 0 30px;
}
.footer-panel input {
	font-size: 4rem;
	width: 200px;
	border-radius: 10px;
    background-color: var(--main-text-color);
    color: white;
	margin: 0 auto 20px;
	text-align: center;
}
.footer-header .search-btn {
    margin: auto 45px;
    padding: 15px 20px;
    background-color: var(--main-text-color);
    color: white;
    border-radius: 10px 10px 0 0;
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.footer-header .search-btn:focus {
    outline: none;
}
.footer-header .search-btn svg {
	-webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}
.search-btn svg, .search-btn h3 {
    pointer-events: none;
}
.footer-header .search-btn h3{
    margin: 0;
}
.footer-header .search-btn .search-icon {

}

.footer-panel .input-group {
	width: 29%;
}
.input-btn, .clear-btn {
	display: flex;
	flex-direction: row;
	background-color: transparent;
	border: 0;
	cursor: default;
	border-radius: 10px;
	/* background: var(--light-bg-color); */
	color: white;
    box-shadow: 3px 3px 4px 0px rgb(27 31 45), -2px -2px 4px -4px rgb(182 193 234);
}
.input-btn {
	width: 70px;
	height: 60px;
}
.clear-btn {

}
.input-btn:focus ,
.clear-btn:focus {
	outline: none;
    box-shadow: inset 3px 3px 6px -3px rgb(21 22 27), 1px 2px 5px -4px rgb(178 190 236);
}

.input-btn p, .clear-btn p {
    margin: 0 auto;
    align-items: center;
    font-size: 30px;
    line-height: 60px;
	pointer-events: none;
}

.search-result {
    color: white;
}

#root:before{
content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 0%;
    visibility: hidden;
    transition: all 0.3s ease;
}

#root.shadow:before{
content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 10;
}
.hidden {
    display: none !important;
}